%div.chat-main
  %div.main-header
    %div.main-header__left-box
      %h2.main-header__left-box__current-group qwe
      %ul.main-header__left-box__member-list Member:
    = link_to "#", class: "main-header__edit-btn" do
      EDIT
  %div.messages
    %div.message
      %div.message__upper-info
        %p.message__upper-info__talker asd
        %p.message__upper-info__date 2019/11/27(Wed) 12:07:58
      %p.message__text MOSAD
  %div.form
    %div.new_message
      %div.input-box
        %input.input-box__text{type: "text", name: "message[content]", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input.input-box__image__file{type: "file"}
      %input.submit-btn{type: "submit", value: "Send", name: "commit"}
